alembic>=1.13
pyotp>=2.9
qrcode>=7.4
cryptography>=42.0
docker>=7.0
flask>=3.0
flask-limiter>=3.8
flask-login>=0.6
flask-migrate>=4.0
flask-sqlalchemy>=3.1
flask-wtf>=1.2
gunicorn>=22.0
httpx>=0.27
maxminddb>=2.6
paramiko>=3.4
psycopg[binary]>=3.1
python-dotenv>=1.0
scikit-learn>=1.5
